
  /* #about_us{
    background-color:#010005DE;
    width:100%;
  } */

/* #about_us p{
  text-align: left;
  color: white;
  margin-left: 5px;
  
} */
.heading{
 font-weight: bold;
 font-size:3rem;
 color: #FCBE02;
 padding-top: 2%;
 text-align: center;
 }
 
 .cards{
  
  /* padding-left:10%;
  padding-right: 10%; */
  padding-bottom: 10px;
 
 }
.about_us_card{
  /*background-color:rgba(238, 238, 238, 0.23) ;*/
  background-color: rgba(243, 205, 70, 0.23);
  border-radius: 120px;
  max-width: '80%';
  margin:50px auto;
  /* background-color:"#F6BE00"; */
  
  margin:50;

}

.about_us_text{
  color:white;
}

.about_us_title{
  color:#FCBE02;
  font-weight: bold;
 padding-bottom: 5%;
 font-size: xx-large;
}

.card_image{
   
   
 padding:10%;
 margin:auto;
}

@media screen and (max-width: 768px) {
  
  
  .card_image {
    height: 50px;
    /* margin-left: 4%; */
    text-align: center;
  }
  .heading{
    font-weight: bold;
    font-size:3rem;
    color: #FCBE02;
    padding-right: 5%;
    padding-top: 10%;
    }
    .about_us_text{
      color: #FCBE02;
      font-size: 1rem;
      padding: 10%;
      text-align:center;
    }
    .about_us_title{
      color:#FCBE02;
      font-weight: bold;
     padding-bottom: 5%;
     font-size: 1.2rem;
     text-align: center;
    }
    
}

.aboutParagraph {
  /* display:flex;
  
  align-items: center; */
  color:white;
  text-align: justify;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 10px;
}

/*<p>GameDevUtopia is the oﬃcial game development club of PICT established in 2020, allowing students to grow in the field of Game development. Gamedevutopia brings people aware of the domain of Game Development and realizes its importance as a ﬂourishing industry. GameDevUtopia supports the professional growth of its members by providing opportunities for life‐long learning, career development, and professional networking in game development. Gamedevutopia has six different teams LOVE 2D team, the Design Team, the Unity team, the Marketing team, Administration team, Web team that helps to improve student’s skills in different domains</p>*/