#contactus{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /* background-color: black; */
    padding-bottom: 5rem;
}

.container {
    flex: 1;
    min-width: 25rem;
}

#contactus img {
    flex: 1;
}

.text{
    color: #FCBE02;
    margin: 5px;
}

.contact_heading{
    font-weight: bold;
 font-size:3rem;
 color: #FCBE02;
 /* text-align: center; */
 /* padding-right: 17%;
 padding-top: 2%;
 text-align: center;
 margin-left: 150px;
 margin-bottom: 150px; */
 
}

.contact_input{
    background-color: #EEEEEE3B;
    margin-bottom: 50px;
    /* max-width: 40%; */
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
  

    .contact_heading{
       
            font-weight: bold;
            font-size:3rem;
            color: #FCBE02;
            padding-right: 5%;
            padding-top: 10%;
            
      }
      #contactus{
        margin-top: 400px;
        flex-direction: column;
        
        
    }
    .text{
        color: #FCBE02;
        margin: 5px;
    }
    .contact_input{
        background-color: #EEEEEE3B;
        margin-bottom: 50px;
       
    }
 
    }